#contato {
    text-align: center;
}

.icones {
    width: 2em;
}

#redes-sociais a {
    display: inline-block;
    margin: 0 5px;
	
}

h1 {
    margin: 40px 0 0;
	text-align:center;
	padding-bottom: 20px;
}


#Contato{
	background: #ccc;
}